*{
    margin: 0;
    padding: 0;
}
.logo1{
    /* margin: 10px 20px 15px 80px; */
    margin-left: 80px;
    margin-top: -10px;
    height: 60px;
    width: 150px;
}

.logoA{
    display: block;
    width: 160px;
    height: 50px;
    transition: 0.6s linear;
}

.logo{
    color: white;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    letter-spacing: 12px;
    margin-left: 5%;
}

nav{
    height: 10%;
    width: 100%;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    transition: 0.4s linear;
    background-color: rgb(0, 0, 0);
    z-index: 1000;
}

nav ul{
    margin-top: 0;
    margin-right: 7%;
    list-style: none;
    transition: 0.6s linear;
}

nav ul li{
    display: inline-block;
    margin: 25px;
    transition: 0.6s;
    position: relative;
}

nav ul li #timkiem{
    position: absolute;
    height: 50px;
    width: 1519px;
    background-color: rgb(255, 255, 255);
    left: 500px;
    /* display: none; */
    transition: 0.3s linear;
    opacity: 0.5;
    display: flex;
    /* box-sizing: border-box; */
    padding-top: 2%;
}

#timkiem form{
    height: 100%;
    width: 100%;
}

#timkiem form input{
    height: 70%;
}

#box-timkiem{
    height: 70%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    margin-left: 25%;
    border-radius: 5px;
    padding: 5px;
}

nav ul li:hover>#timkiem{
    display: block;
    transform: translateX(-1525px);
}

nav ul li #timkiem:hover{
    opacity: 1;
}

nav ul li ul{
    height: 80px;
    width: 400px;
    position: absolute;
    display: none;
    left: -300px;
}

nav ul li ul li{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.742);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li ul li a{
    color: black;
    font-size: 14px;

}

nav ul li ul li:hover{
    background-color: rgba(0, 0, 0, 0.596);
}

@keyframes ul{
    from{
        top: 40px;
    }
    to{
        top: 30px;
    }
}

nav ul li:hover>ul{
    display: block;
    animation: ul 1s forwards;
}

nav ul li ul li a:hover{
    font-size: 18px;
}

nav ul li a{
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
    font-style: italic;
    font-variant: small-caps;
    padding: 5px 10px;
    transition: 0.4s linear;
    position: relative;
}

nav ul li a:hover{
    color: white;
    font-size: 1.7rem;
}

#chitietsp{
    height: 0px;
    width: 0px;
    /* background-color: #ffffff93; */
    position: absolute;
    top: 0px;
    left: 400px;
    display: none;
    opacity: 0.9;
    display: none;
    justify-content: space-around;
    align-items: center;
}

nav ul li ul li:hover>#chitietsp{
    display: flex;
    animation: spct 1.2s forwards;
}

nav ul li ul li #chitietsp:hover{
    opacity: 1;
}

#chitietsp #muc-con{
    height: 95%;
    width: 49.5%;
    background-color: white;
    opacity: 0.8;
    transition: 0.3s;
}

#chitietsp #muc-con:hover{
    opacity: 1;
}

#thongtin-sanpham{
    height: 90%;
    width: 95%;
    /* background-color: aqua; */
    margin-left: 2.5%;
    border-left: 1px solid black;
    /* border-right: 1px solid black; */
    padding: 5% ;
}

nav ul li a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 1s;
}


nav ul li a:hover::after{
    width: 100%;
}

nav ul li ion-icon{
    font-size: 30px;
    color: white;
    width: 40px;
    height: 40px;
    border: 1.5px solid white;
    position: absolute;
    top: 25px;
    right: 40px;
    z-index: 1111;
    transition: 0.3s linear;
    border-radius: 5px  ;
}

nav ul li ion-icon:hover{
    color: black;
    border:0.5px solid black;
}

.slide-nav{
    position: fixed;
    width: 20%;
    height: 120vh;
    /* background-color: ; */
    z-index: 1111111111;
    right: -350px;
    top: 0;
    background-color: rgb(7 104 111 / 98%);
    transition: 1s linear;
}

.slide-nav ul{
    list-style: none;
    margin: 100px 80px;
}

.slide-nav ul li{
    margin: 50px auto;
    font-size: 1.8rem;
    padding: 10px;
}

.slide-nav ul li a{
    text-decoration: none;
    color: white;
    transition: 0.6s linear;
}

.slide-nav ul li a:hover{
    color: black;
    /* background-color: white; */
}

.slide-nav ion-icon{
    right: 50px;
    position: absolute;
    color: white;
    font-size: 70px;
    transition: 1s;
}

.mn{
    display: none;
}

.slide-nav ion-icon:hover{
    color: black;
    transform: rotate(360deg);
}




footer{
    padding-right: 30px;
    padding-left: 30px;
    box-sizing: border-box;
    color: #fffcfc;
    width: 100%;
    height: 100%;
    background: #000000e8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}


.fb-page{
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-visa{
    margin: 0 10%;
    height: 150px;
    width: 300px;
    background-color: white;
    position: relative;
}

.visa{
    position: absolute;
    height: 85%;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%
    );
}

.master{
    position: absolute;
    height: 130%;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%
    );
}

.box-lienhe{
    margin-top: 3%;
    height: 80%;
    width: 25%;
    /* background-color: rgba(245, 222, 179, 0.671); */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

.box-lienhe h1{
    font-family: sans-serif;
    text-align: center;
    letter-spacing: 0.6;
    margin-bottom: 20px;
}

.box-lienhe i{
    transform: translateY(5px);
    font-size: 50px;
}

.line-lienhe{
    margin-top: 20px;
    margin-bottom: 20px;
}

.line-lienhe a{
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    margin-left: 15px;
}

.map{
    margin-top: 20px;
    /* margin-left: 20px; */
    height: 300px;
    width: 100%;
    background-color: white;
    margin-left: 15px;
}

.icon-thanhtoan{
    margin-top: 20px;
    margin-left: 18px;
    width: 90%;
    height: 25%;
    transform: translateX(-10px);
}

.icon-thanhtoan img{
    box-shadow: 0px 0px 10px white;
}

.icon-thanhtoan i{
    margin-left: 30%;
    font-size: 150px;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes spct{
    from{
        height: 250px;
        width: 0px;
    }
    to{
        height: 250px;
        width: 800px;
    }
}
